:host {
    display: flex;
    flex-direction: column;
    background: var(--background-secondary);
    height: 100%;
}

.header {
    font-size: 17px;
    padding-left: 16px;
    margin-bottom: 0;
}

.content {
    flex-grow: 1;
    min-height: 0;
    overflow: auto;
}