:host {
    display: flex;
    flex-direction: column;
    margin: 16px;
    align-items: center;
}

.wrapper {
    width: 100%;
}

.wrapper:not(.full-width) {
    max-width: 1200px;
}

.title {
    margin: 16px 0 16px 0;
}
