<mat-toolbar class="menu">
    <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
    <mat-menu #fileMenu="matMenu">
        <button mat-menu-item (click)="newClick.emit()">New</button>
        <button mat-menu-item (click)="openClick.emit()">Open</button>
        <button mat-menu-item (click)="saveClick.emit()">Save</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="editMenu">Edit</button>
    <mat-menu #editMenu="matMenu">
        <button mat-menu-item (click)="undoClick.emit()">Undo</button>
        <button mat-menu-item (click)="redoClick.emit()">Redo</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="programMenu">Program</button>
    <mat-menu #programMenu="matMenu">
        <button mat-menu-item *ngIf="editorState === 'ready'" (click)="runClick.emit()">Run</button>
        <button mat-menu-item *ngIf="editorState === 'ready'" (click)="runReadonlyClick.emit()">Run read-only</button>
        <button mat-menu-item *ngIf="editorState === 'running'" (click)="stopClick.emit()">Stop</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
    <mat-menu #helpMenu="matMenu">
        <button mat-menu-item (click)="aboutClick.emit()">About</button>
    </mat-menu>
</mat-toolbar>

<mat-toolbar class="toolbar">
    <button mat-icon-button *ngIf="editorState === 'ready'">
        <mat-icon (click)="undoClick.emit()">undo</mat-icon>
    </button>
    <button mat-icon-button *ngIf="editorState === 'ready'">
        <mat-icon (click)="redoClick.emit()">redo</mat-icon>
    </button>

    <mat-form-field *ngIf="editorState === 'ready'" appearance="fill" subscriptSizing="dynamic" class="disable-form-underline">
        <mat-label>Entry point</mat-label>
        <mat-select [value]="entryPoint" (selectionChange)="entryPointChange.emit($event.value)">
            <mat-option *ngFor="let availableEntryPoint of availableEntryPoints" [value]="availableEntryPoint">
                {{availableEntryPoint}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button *ngIf="editorState === 'ready'" (click)="runClick.emit()">
        <mat-icon>play_arrow</mat-icon>
        Run
    </button>
    <button mat-button *ngIf="editorState === 'ready'" (click)="runReadonlyClick.emit()">
        <mat-icon>play_arrow</mat-icon>
        Run read-only
    </button>
    <button mat-button *ngIf="editorState === 'running'" (click)="stopClick.emit()">
        <mat-icon>stop</mat-icon>
        Stop
    </button>
</mat-toolbar>