.table-scroll-wrapper {
    overflow: auto; 
    width: 100%;
}

.table {
    background: transparent;
}

.table tr {
    min-height: 52px;
}

.table button {
    text-align: left;
}

.table-status-column {
    padding-right: 0;
    width: 24px;
}

.table-status-column > * {
    vertical-align: middle;
}

.table-name-column {
    min-width: 175px;
}

.table-actions-column {
    white-space: nowrap;
}

.table-actions-column button {
    opacity: 0.3;
}