.create-project-button {
    margin: 16px 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

@media (max-width: 650px) {
    .projects {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}