.content {
    display: flex;
    gap: 48px;
}

.assignment {
    flex: 1.5 0 0;
}

.submissions {
    flex: 1 0 0;
}

.test-case {
    margin: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.test-case-input, .test-case-output {
    width: 250px;
    height: 250px;
}

.test-case-arrow {
    opacity: 0.1;
    transform: scale(7);
}

.submission-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}
