:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.town-view {
    flex-grow: 1;
}

.toolbar {
    overflow-x: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: max-content 1fr auto auto;
    grid-template-areas: "tools . width height";
    gap: 16px;
    height: auto;
}

.toolbar-tool-icon {
    width: 24px;
}

.toolbar-tools {
    grid-area: tools;
}

.toolbar-width {
    grid-area: width;
}

.toolbar-height {
    grid-area: height;
}

.toolbar-width, .toolbar-height {
    width: 75px;
    margin: 4px 0;
}
