:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host:focus {
    outline: none;
}

.town-view {
    flex-grow: 1;
}

.toolbar {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 16px;
    height: auto;
}

.toolbar-tools {
    margin-right: auto;
    flex-shrink: 0;
}

.toolbar-tool-icon {
    width: 24px;
}

.toolbar-width {
    flex-shrink: 0;
}

.toolbar-height {
    flex-shrink: 0;
}

.toolbar-width, .toolbar-height {
    width: 75px;
    margin: 4px 0;
}
