///
/// Custom Angular Material theme of the application.
///

@use "@angular/material" as mat;
@use 'sass:map';

@include mat.core();

$application-palette: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    500: #b4e61d,
    600: #a9d312,
    700: #9bbd00,
    800: #8da500,
    900: #767e00,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white
    )
);

$application-typography: mat.define-typography-config();
$application-primary: mat.define-palette($application-palette);
$application-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$application-warn: mat.define-palette(mat.$red-palette);

$application-light-theme: mat.define-light-theme((
    color: (
        primary: $application-primary,
        accent: $application-accent,
        warn: $application-warn
    ),
    density: 0,
    typography: $application-typography
));

$application-dark-theme: mat.define-dark-theme((
    color: (
        primary: $application-primary,
        accent: $application-accent,
        warn: $application-warn,
    ),
    density: 0,
    typography: $application-typography
));

@include mat.typography-hierarchy($application-typography);
@include mat.all-component-themes($application-light-theme);

.light-theme {
    $color-config: mat.get-color-config($application-light-theme);
    $primary-palette: map.get($color-config, "primary");
    $accent-palette:  map.get($color-config, "accent");
    $warn-palette:    map.get($color-config, "warn");
    $background-palette:   map.get($color-config, "background");

    --color-primary: #{mat.get-color-from-palette($primary-palette, 500)};
    --color-accent: #{mat.get-color-from-palette($accent-palette, 500)};
    --color-warn: #{mat.get-color-from-palette($warn-palette, 500)};
    --color-positive: #8BC34A;
    --color-neutral: #FFB300;
    --color-negative: #D32F2F;
    --background-primary: #{mat.get-color-from-palette($background-palette, "background")};
    --background-secondary: #{mat.get-color-from-palette($background-palette, "app-bar")};
    --background-tertiary: #eaeaea;
    --background-quaternary: #ededed;
    --background-designer: url("/assets/designer-background-light.png");
    --google-sign-in-button-normal: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_light_normal_web.png");
    --google-sign-in-button-focus: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_light_focus_web.png");
    --google-sign-in-button-pressed: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_light_pressed_web.png");
    --google-sign-in-button-disabled: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_light_disabled_web.png");
}

.dark-theme {
    @include mat.all-component-colors($application-dark-theme);

    $color-config: mat.get-color-config($application-dark-theme);
    $primary-palette: map.get($color-config, "primary");
    $accent-palette:  map.get($color-config, "accent");
    $warn-palette:    map.get($color-config, "warn");
    $background-palette:   map.get($color-config, "background");

    --color-primary: #{mat.get-color-from-palette($primary-palette, 500)};
    --color-accent: #{mat.get-color-from-palette($accent-palette, 500)};
    --color-warn: #{mat.get-color-from-palette($warn-palette, 500)};
    --color-positive: #AED581;
    --color-neutral: #FFD54F;
    --color-negative: #EF5350;
    --background-primary: #{mat.get-color-from-palette($background-palette, "background")};
    --background-secondary: #{mat.get-color-from-palette($background-palette, "app-bar")};
    --background-tertiary: #333333;
    --background-quaternary: #424242;
    --background-designer: url("/assets/designer-background-dark.png");
    --google-sign-in-button-normal: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_dark_normal_web.png");
    --google-sign-in-button-focus: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_dark_focus_web.png");
    --google-sign-in-button-pressed: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_dark_pressed_web.png");
    --google-sign-in-button-disabled: url("/assets/user/presentation/components/google-sign-in-button/btn_google_signin_dark_disabled_web.png");
}
