/**
 * Global application styles.
 */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.light-theme {
    color-scheme: light;
}

.dark-theme {
    color-scheme: dark;
}

/* Disables underline for specified Angular Material form field with appearance="fill". */
.disable-form-field-underline .mdc-line-ripple::before {
    border-bottom: none !important;
}

/* Makes background transparent for specified Angular Material form field with appearance="fill". */
.transparent-form-field-background .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
}

/* Makes specified Angular Material tab group take full height. */
.tab-full-height .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}

/* Fixes Angular Material opacity bug in dark theme. */
.dark-theme .mdc-list-item--disabled.mdc-list-item--with-leading-icon .mdc-list-item__start {
    opacity: var(--mdc-list-list-item-disabled-leading-icon-opacity);
}

.dark-theme .mat-mdc-list-base .mdc-list-item--disabled .mdc-list-item__end {
    opacity: var(--mdc-list-list-item-disabled-trailing-icon-opacity);
}