html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.light-theme {
    color-scheme: light;
}

.dark-theme {
    color-scheme: dark;
}

.disable-form-underline .mdc-line-ripple::before {
    border-bottom: none !important;
}

.transparent-form-background .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
}

.tab-full-height .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}

/* Fixes Angular Material bug. */
.dark-theme .mdc-list-item--disabled.mdc-list-item--with-leading-icon .mdc-list-item__start {
    opacity: var(--mdc-list-list-item-disabled-leading-icon-opacity);
}

.dark-theme .mat-mdc-list-base .mdc-list-item--disabled .mdc-list-item__end {
    opacity: var(--mdc-list-list-item-disabled-trailing-icon-opacity);
}