.title {
    display: flex;
    align-items: center;
}

.title-icon {
    width: 30px;
}

.title-text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 20px;
}

.dark-mode-switch-text {
    margin-left: 4px;
}

.spacer {
    flex-grow: 1;
}

.drawer-and-content-wrapper {
    height: 100%;
}

.drawer {
    display: flex;
    flex-direction: column;
    width: 260px;
    max-width: 100vw;
    height: 100%;
}

.drawer-header {
    padding: 16px;
}

.drawer-header .title-text {
    margin-left: 20px;
}

.drawer-navigation {
    font-weight: 500;
    padding: 8px;
    margin-top: 8px;
}

.drawer-navigation-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    padding: 0 8px;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 8px;
    height: 40px;
    box-sizing: border-box;
}

.drawer-navigation-item.active {
    background: #b4e61d1f;
    color: var(--color-primary);
}

.drawer-navigation-item-icon {
    margin-right: 32px;
}

.drawer-footer {
    display: flex;
    align-items: center;
    margin: 0 12px 18px 24px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-bar {
    height: 50px;
    flex: 0 0 auto;
}

.app-bar-drawer-trigger {
    display: none;
}

.app-bar-dark-mode-switch {
    margin-right: 48px;
}

.page {
    flex-grow: 1;
}

@media (max-width: 1000px) {
    .navigation {
        display: none;
    }

    .app-bar-drawer-trigger {
        display: block;
    }

    .app-bar-dark-mode-switch {
        display: none;
    }

    .app-bar-dark-user-guide-button {
        display: none;
    }
}