<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #drawer mode="over">
      <h1>KarlBot</h1>
    </mat-sidenav>
    <mat-sidenav-content class="container">
        <mat-toolbar color="primary" class="app-bar">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="title">
                <img class="title-icon" src="assets/logo.png" alt="">
                <span class="title-text">KarlBot</span>
            </div>
            <div class="navigation">
                <a mat-button routerLink="/">Editor</a>
                <a mat-button routerLink="/projects">Projects</a>
                <a mat-button routerLink="/challenges">Challenges</a>
            </div>
            <div style="flex-grow: 1;"></div>
            <mat-slide-toggle class="dark-mode-switch" [checked]="(colorThemeService.colorTheme$ | async) === 'dark'" (change)="onColorThemeChange($event.checked)">
                Dark mode
            </mat-slide-toggle>
            <div style="width: 48px;"></div>
            <a mat-button *ngIf="(authenticationService.currentUser | async) === null" routerLink="/user/sign-in">Sign in</a>
            <button  *ngIf="(authenticationService.currentUser | async) !== null" matListItemMeta mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/projects">
                    <mat-icon>person</mat-icon>
                    <span>{{(authenticationService.currentUser | async)?.email}}</span>
                </button>
                <button mat-menu-item (click)="authenticationService.signOut()">
                    <mat-icon>logout</mat-icon>
                    <span>Sign out</span>
                </button>
            </mat-menu>
        </mat-toolbar>
    
        <div class="page">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>