<mat-toolbar color="primary" class="navigation">
    <img src="assets/logo.png" style="width: 30px;" alt="">
    <span class="example-spacer" style="width: 10px;"></span>
    <span>KarlBot</span>
    <span class="example-spacer" style="width: 20px;"></span>
    <a mat-button routerLink="/">Editor</a>
    <a mat-button routerLink="/projects">Projects</a>
    <a mat-button routerLink="/challenges">Challenges</a>
    <div style="flex-grow: 1;"></div>
    <mat-slide-toggle [checked]="(colorThemeService.colorTheme$ | async) === 'dark'" (change)="onColorThemeChange($event.checked)">
        Dark mode
    </mat-slide-toggle>
    <a mat-button *ngIf="(authenticationService.currentUser$ | async) === null" routerLink="/user/sign-in">Sign in</a>
    <span mat-button *ngIf="(authenticationService.currentUser$ | async) !== null">{{authenticationService.currentUser$ | async}}</span>
    <a mat-button *ngIf="(authenticationService.currentUser$ | async) !== null" (click)="authenticationService.signOut()">Sign out</a>
</mat-toolbar>

<div class="page">
    <router-outlet></router-outlet>
</div>