:host {
    display: block;
    height: 100%;
    position: relative;
}

.files {
    margin-bottom: 75px;
}

.file-icon {
    width: 24px; 
    height: 24px;
    margin-left: 16px;
    margin-right: 12px;
}

.file-selected {
    background: var(--background-tertiary);
}

.add-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px;
}

.add-menu-icon {
    width: 24px; 
    height: 24px;
    margin-right: 12px;
}