<app-panel header="File explorer">
    <mat-list>
        <mat-list-item>
            <img matListItemIcon src="http://karlbot.cz/assets/files/code-file.png" style="width: 24px; height: 24px;margin-left: 16px; margin-right: 12px;" alt="">
            <div matListItemTitle>DFS</div>
        </mat-list-item>
        <mat-list-item>
            <img matListItemIcon src="http://karlbot.cz/assets/files/code-file.png" style="width: 24px; height: 24px;margin-left: 16px; margin-right: 12px;" alt="">
            <div matListItemTitle>Movement</div>
        </mat-list-item>
        <mat-list-item>
            <img matListItemIcon src="http://karlbot.cz/assets/files/town-file.png" style="width: 24px; height: 24px;margin-left: 16px; margin-right: 12px;" alt="">
            <div matListItemTitle>Maze</div>
        </mat-list-item>
    </mat-list>
</app-panel>