:host {
    display: flex;
    flex-direction: column;
}

.towns {
    flex-grow: 1;
    display: flex;
    height: 100%;
    gap: 20px;
}

.town {
    flex-grow: 1;
    min-width: 0;
    height: 500px;
}

.checks-title {
    margin: 0;
}

.checks {
    margin: 8px 0;
}

@media (max-width: 800px) {
    .towns {
        flex-direction: column;
    }

    .town {
        height: 350px;
    }
}